[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
netcdf4 = "*"
numpy = "*"
matplotlib = "*"
gunicorn = "*"
gevent = "*"
numba = "*"
flask-compress = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
